@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
    <link href="~/Scripts/style.css" rel='stylesheet' type='text/css' />
    <!--webfonts-->
    <link href='~/Scripts/Rel.css' rel='stylesheet' type='text/css'>
    <link href='~/Scripts/StyleSheet1.css' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <script src="http://ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        //登录成功之后执行此方法
        function afterLogin(data)
        {
            if (data == "Ok") {
                //登录成功
                window.location.href = "/UserInfo/Index";
            }
            else
            {
                alert(data);
            }
        }
    </script>
</head>
<body>
    @using (Ajax.BeginForm("ProcessLogin", "UserLogin", new AjaxOptions() { OnSuccess = "afterLogin",HttpMethod="Post" }))
    {
    <div class="login-form">
        <div class="close"> </div>
        <div class="head-info">
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"> </div>
        <div class="avtar">
            <img src="~/images/avtar.png" />
        </div>
        
            <input id="LoginName" type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
            <div class="key">
                <input id="LoginPwd" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
            </div>
        
        <div class="signin">
            <input type="submit" value="Login">
        </div>
    </div>
     }
    <script>
$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});
});
    </script>
    <!--SIGN UP-->
    
    <div class="copy-rights">
        <p>Copyright &copy; 2016.Company name All rights reserved.</p>
    </div>

</body>
</html>
